* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 60vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
.header {
    height: 10%;
    width: auto;
    background-color: #41b9e0;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.headerLeft {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}
.bigText {
    font-size: 30pt;
    font-family: 'Ubuntu', sans-serif;
}
.smallText {
    font-size: 15pt;
    font-family: 'Ubuntu', sans-serif;
}
.headerRight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.nav {
    height: 5%;
    width: auto;
    background-color: #889aa1;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}
.main {
    height: 75%;
    width: auto;
    background-color: #889aa1;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.mainHeader {
    height: 10%;
    width: 100%;
    background-color: #f6b9f5;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}
.mainBody {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
}
.bodyLeft {
    height: 100%;
    width: 70%;
    border-radius: 10px ;
    background-color: #f6b9f5;
    margin-right: 5px;
}
.bodyLeftLine {
    width: 100%;
    height: 7%;
    border-radius: 10px 10px 3px 3px;
    background-color: #3e3e7e;
}
.bodyRight {
    height: 100%;
    width: 30%;
    background-color: #f6b9f5;
    border-radius: 10px;
    padding: 5px;
}
.mainColumns {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.column {
    width: 27%;
    height: 100%;
    border-radius: 10px;
    background-color: #f6b9f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.footer {
    height: 10%;
    width: auto;
    background-color: #41b9e0;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}